name: Run CI Testing
on:
  push:
    paths-ignore:  # Don't trigger deployment when any of these files/folders changes.
      - '.github/**'
      - 'README.md'
    branches:
      - master

  pull_request:
    paths-ignore:  # Don't trigger deployment when any of these files/folders changes.
      - 'README.md'
    branches:
      - master

jobs:
  setup-build-publish-deploy:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        submodules: true

    - name: Test redis cluster
      uses: vishnudxb/redis-cluster@1.0.3
      with:
        master1-port: '5000'
        master2-port: '5001'
        master3-port: '5002'
        slave1-port: '5003'
        slave2-port: '5003'
        slave3-port: '5004'

     # Running Test
    - name: Running Test
      run: |
         sudo apt-get install -y redis-tools
         docker ps -a
         redis-cli -h 127.0.0.1 -p 5000 ping
         redis-cli -h 127.0.0.1 -p 5000 cluster nodes
